* {
    padding: 0;
    margin: 0;
    font-family: 'Itim';
    cursor: url("./GatoICONO.png"), auto;
  }
  nav {
    background-color: black;
  }
  
  nav ul {
    
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 0 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  nav ul li label {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  p{
    top: 0;
    color: black;
  }
  
  nav ul li a:hover {
    background-color: gray;
  }
  nav ul li label:hover {
    background-color: #555;
  }
  .nav-modal {
    display: inline-block;
    position: relative;
  }
  .nav-modal:hover .modal {
    display: block;
  }
  
  .background {
    background-color: gray;
    height: 86vh;
    padding-top: 80px;
  }
    .display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .title {
    color: black;
    text-align: center;
    font-size: 40px;
    
  }

  .hide {
    display: none;
  }
  
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
  
  }
  
  .tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
  }
  
  .playerX {
    color: red;
  }
  
  .playerO {
    color: black;
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  
  .controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
  }
  
  .restart {
    background-color: #498AFB;
  }
  
  #reset {
    background-color: black;
  }
  body.darkmode {
    background-color: black;
    color: white;
  }
  #bdark{
    margin-top: 50px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 10px;
    color: #3f3838;
    background-color: gray;
    border-radius: 15px;
  }
  .seccion {
    display: none;
  }
  .seccion.mostrando {
    display: block;
  }
  #modal {
    position:fixed;
    background: rgba(100, 99, 104, 0.637);
    color: rgba(12, 14, 12, 0.589);
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center;
  }
#modal p {
    width: 80%;
    height: 5%;
    position: relative;
    top: 5%;
    right: 0;
    bottom: 0;
    margin: 10px 0;
    font-size: 1.5em;   
    text-align:left; 
}

#mostrar-modal +label:hover {
    background: gray;
    display: block;
    padding: 10px 15px;
}
#mostrar-modal:checked ~ #modal {
  left: 0px;
  top: 0;
  width: 30%; 
  height: 60%; 
  overflow: auto; 
  background-color: rgba(110, 104, 104, 0.918);
  border-radius: 10%; 
  border: solid;
}
#cerrar-modal {
    display: none;
}
#cerrar-modal + label{
    position:absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #0a0a0a;
    font-weight: bold;
    cursor: pointer;
    background: gray;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
}
#cerrar-modal:checked + label{
    display: none;
}

